*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    width: 50%;
    margin: auto;
    background-color: darkgray;
    align-items: center;
    justify-content: center;    
}
.container{
    width: 50vh;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:50px 1fr 1fr 100px ;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;

}
.container div{
    padding: 10px;
}
.first{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: seagreen;
}
.second{
    background-color: orange
}
.third{
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: 2.5;
    background-color: orangered;
}
.fourth{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: skyblue;
}
.fifth{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: skyblue;
}